:root {
	--white: hsl(62, 100%, 94%);
	--black: hsl(208, 31%, 7%);
	--main-color: hsl(27, 68%, 80%);
	--secondary-color: hsl(37, 100%, 88%);
	--accent-color: hsl(23, 97%, 27%);
}

body {
	scrollbar-width: none;
	margin: 0;
	color: var(--black);
	background-color: var(--white);
	font-family: 'Poppins', sans-serif;
}

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24
}

::-webkit-scrollbar {
	display: none;
}

.topElement {
	padding: 30px;
	border-radius: 0 0 30px 30px;
	background-color: var(--white);
	min-height: 195px;
	max-height: 30vh;
	max-width: 380px;
	align-self: start;
}