.OverlayMenuContent input[type='range'] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
}

.OverlayMenuContent input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background: var(--accent-color);
	border-radius: 50%;
}

.OverlayMenuContent input[type='range']::-moz-range-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background: var(--accent-color);
	border-radius: 50%;
}

.OverlayMenuContent .iconButton {
	width: 64px;
	height: 64px;
	font-size: 32px;
	border-radius: 100%;
	padding: 0px;
}

.OverlayMenuContent .textButton {
	font-family: 'Poppins', sans-serif;
	border-radius: 25px;
	padding: 5px 25px;
}

.OverlayMenuContent button {
	border: none;
	color: var(--white);
	background-color: var(--accent-color);
	transition: all 0.5s cubic-bezier(0.07, 0.92, 0.1, 1.57);
}

.OverlayMenuContent button:hover {
	transform: scale(1.2);
}

.OverlayMenuContent button:active {
	transform: scale(1.5);
}

.deleteButton {
	background-color: rgb(255, 95, 95) !important;
}

.rangeInput {
	margin: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.rangeInput * {
	margin: 0px;
}