.Settings input[type='range'] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
}

.Settings input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background: var(--accent-color);
	border-radius: 50%;
}

.Settings input[type='range']::-moz-range-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	background: var(--accent-color);
	border-radius: 50%;
}

.Settings button {
	border: none;
	color: var(--white);
	background-color: var(--accent-color);
	font-size: 32px;
	border-radius: 100%;
	width: 64px;
	height: 64px;
	transition: all 0.5s cubic-bezier(0.07, 0.92, 0.1, 1.57);
}

.Settings button:hover {
	transform: scale(1.2);
}

.Settings button:active {
	transform: scale(1.5);
}

.rangeInput {
	margin: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.rangeInput * {
	margin: 0px;
}