.StickyButton {
	position: fixed;
	width: 128px;
	height: 128px;
	padding: 32px;
	border-radius: 100%;
	background-color: var(--accent-color);
	z-index: 1;
	bottom: -96px;
	transition: all 0.5s cubic-bezier(0.07, 0.92, 0.1, 1.57);
}

.StickyButton:hover {
	bottom: -72px;
}

.icon {
	color: var(--white);
	font-size: 56px;
	margin: 0;
	width: 100%;
	user-select: none;
}

.right {
	right: -96px;
}

.right:hover {
	right: -72px;
}

.right>.icon {
	text-align: left;
}

.left {
	left: -96px;
}

.left:hover {
	left: -72px;
}

.left>.icon {
	text-align: right;
}