.checked {
	text-decoration: line-through;
	color: #ccc;
}

.task {
	font-family: 'Poppins', sans-serif;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr 1fr;
	align-items: center;
	padding: 15px;
	background-color: aquamarine;
	border-radius: 30px;
	justify-self: stretch;
}

.number {
	grid-column: 1;
	grid-row: 1 / span 2;
	font-size: 50px;
	justify-self: center;
	align-self: center;
	margin: 0px 10px;
}

.info {
	grid-row: 1 / span 2;
	grid-column: 2/5;
	font-size: 25px;
	margin: 0px;
}

.buttons {
	grid-column: 5;
	grid-row: 1 / span 2;
}

.icon {
	font-size: 25px;
}

.buttons .icon {
	font-size: 50px;
}

#time {
	font-size: 15px;
	margin: 0px;
	justify-self: start;
	align-self: start;
}