.task {
	font-family: 'Poppins', sans-serif;
	display: grid;
	grid-template-columns: 4fr 1fr;
	grid-template-rows: 1fr;
	align-items: center;
	padding: 15px;
	background-color: var(--main-color);
	border-radius: 30px;
	justify-self: stretch;
	transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	user-select: none;
}

input {
	font-family: 'Poppins', sans-serif;
	border: none;
	background-color: transparent;
}

.task:hover {
	box-shadow: 0px 5px 0px 0px var(--accent-color);
}

.info {
	grid-column: 1;
	display: grid;
	font-size: 25px;
	margin: 0px;
	align-self: stretch;
}

.buttons {
	grid-column: 2;
	display: grid;
	align-self: stretch;
}

.icon {
	font-size: 25px;
}

.buttons .icon {
	font-size: 75px;
}

.buttons p {
	margin: 0px;
	align-self: center;
	justify-self: center;
}

#number {
	grid-row: 1;
	font-size: 15px;
	margin: 0px;
	align-self: start;
}

#taskText {
	grid-row: 2;
	margin: 0px;
	user-select: text;
}

#time {
	grid-row: 3;
	font-size: 15px;
	margin: 0px;
	align-self: end;
}

#timeInput {
	width: 30px;
}

#textInput {
	width: 250px;
	margin: 0px;
}