:root {
	--white: #ffe8e1ff;
	--black: #0c1713ff;
	--main-color: #efaac4ff;
	--secondary-color: #ffc4d1ff;
	--accent-color: #89023eff;
}

body {
	scrollbar-width: none;
	margin: 0;
	color: var(--black);
	background-color: var(--secondary-color);
}

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24
}

::-webkit-scrollbar {
	display: none;
}