.App {
	display: grid;
	grid-template-rows: 1fr 2fr;
}

.top {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;
	background-color: var(--main-color);
}

.bottom {
	background-color: var(--white);
}